<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/libcss.css">
    <link rel="stylesheet" href="./css/style.min.css">
    <title>home</title>
    <script>
        console.log({{.}});
        </script>
</head>
    <body>
        <div class="wrapper">
            <header id="header" class="header">
    <div class="header__container _container">
        <div class="header__top top-header">
            <a href="./" class="top-header__logo">
                <picture><source srcset="img/header-logo.webp" type="image/webp"><img src="img/header-logo.png" alt=""></picture>
            </a>
            <div class="top-header__right right-topheader">
                <div class="right-topheader__phones">
                    <div class="right-topheader__phone">
                        <div class="right-topheader__phone_label">Телефон горячей линии:</div>
                        <a data-da=".mobile-menu, 480, last" href="tel:{{.SPhone}}" class="right-topheader__phone_link _icon-phone">{{.SPhone}}</a>
                    </div>
                    <div class="right-topheader__phone">
                        <div class="right-topheader__phone_label">Отдел по работе с клиентами:</div>
                        <a data-da=".mobile-menu, 480, last" href="tel:{{.CPhone}}" class="right-topheader__phone_link _icon-phone">{{.CPhone}}</a>
                    </div>
                </div>
                <div class="right-topheader__logo">
                    <picture><source srcset="img/cbu-logo.webp" type="image/webp"><img src="img/cbu-logo.png" alt=""></picture>
                </div>
            </div>
        </div>
        <div class="header__bottom bottom-header">
            <a href="#" class="fix-header__logo">
                <picture><source srcset="img/logo-svg.svg" type="image/webp"><img src="img/logo-svg.svg" alt=""></picture>
            </a>
            <div class="bottom-header__left">
                <div class="_select">
                    <select>
                        <!-- <option value="">RU</option> -->
                        <option value="">RU</option>
                        <option value="">ENG</option>
                        <option value="">UZ</option>
                    </select>
                </div>
                <a href="" class="flag">
                    <picture><source srcset="img/icons/bayroq.webp" type="image/webp"><img src="img/icons/bayroq.png" alt=""></picture>
                </a>
                <a href="#" class="gerb">
                    <picture><source srcset="img/icons/gerb.webp" type="image/webp"><img src="img/icons/gerb.png" alt=""></picture>
                </a>
                <a href="#" class="keyboard">
                    <picture><source srcset="img/icons/keyboard.webp" type="image/webp"><img src="img/icons/keyboard.png" alt=""></picture>
                </a>
            </div>
            <div class="bottom-header__right">
                <ul class="header__nav nav-header">
                    <li data-da=".mobile-menu__nav_1, 768, 1" class="nav-header__item"><a href="./aboutus.html" class="nav-header__link">О нас</a></li>
                    <li data-da=".mobile-menu__nav_1, 768, 1" class="nav-header__item"><a href="./service-catalog.html" class="nav-header__link">Услуги</a></li>
                    <li data-da=".mobile-menu__nav_1, 768, 1" class="nav-header__item"><a href="./contacts.html" class="nav-header__link">Контакты</a></li>
                </ul>
                <button class="nav-header__burger _burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>
            <main class="main">
                <section class="first-section _anim-items _anim-no-hide">
                    <div class="sectionanim-img">
                        <picture><source srcset="img/all-bgimages/01.webp" type="image/webp"><img class="" src="img/all-bgimages/01.png" alt=""></picture>
                    </div>
                    <div class="first-section__container _container">
                        <div class="first-section__box box-firstsection">
                            <div class="box-firstsection__title _title">{{.Content}}<span>Республике</span></div>
                            <div class="box-firstsection__subtitle">{{.Description}}</div>
                            <a href="./aboutus.html" class="box-firstsection__link _btn">Подробнее</a>
                        </div>
                    </div>
                </section>
                <section class="aboutus">
                    <div class="aboutus__container _container">
                        <div class="aboutus-left">
                            <h2 class="aboutus-left__title _title">
                                О нас
                            </h2>
                            <div class="aboutus-left__text">
                                At tellus at urna condimentum mattis pellentesque. Auctor neque vitae tempus quam. Blandit massa enim nec dui nunc mattis enim ut. Dui sapien eget mi proin sed libero enim. In ornare quam viverra orci sagittis eu volutpat odio. Etiam erat velit scelerisque in. Proin sagittis nisl rhoncus mattis rhoncus. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Sit amet cursus sit amet dictum. Sed felis eget velit aliquet sagittis id consectetur purus. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Nam aliquam sem et tortor consequat id.
                            </div>
                            <a href="./aboutus.html" class="aboutus-left__link _btn">Подробнее</a>
                        </div>
                        <div class="aboutus-right">
                            <div class="aboutus-right__images">
                                <div class="aboutus-right_img img1">
                                    <picture><source srcset="img/aboutus/01.webp" type="image/webp"><img src="img/aboutus/01.png" alt=""></picture>
                                </div>
                                <div class="aboutus-right_img img2">
                                    <picture><source srcset="img/aboutus/02.webp" type="image/webp"><img src="img/aboutus/02.png" alt=""></picture>
                                </div>
                                <div class="aboutus-right_img img3">
                                    <picture><source srcset="img/aboutus/03.webp" type="image/webp"><img src="img/aboutus/03.png" alt=""></picture>
                                </div>
                                <div class="aboutus-right_border">
                                    <picture><source srcset="img/aboutus/border-line.webp" type="image/webp"><img src="img/aboutus/border-line.png" alt=""></picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="services _anim-items _anim-no-hide">
                    <div class="sectionanim-img">
                        <picture><source srcset="img/all-bgimages/02.webp" type="image/webp"><img src="img/all-bgimages/02.png" alt=""></picture>
                    </div>
                    <div class="services__container _container">
                        <h2 class="services__title _title">Услуги</h2>
                        <div class="services__content">
                            <div class="services__content_left">
                                <div class="showedswiper swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide showedswiper-slide">
                                            <div class="showedswiper-slide__img">
                                                <picture><source srcset="img/services/item1.webp" type="image/webp"><img src="img/services/item1.png" alt=""></picture>
                                            </div>
                                            <div class="showedswiper-slide__title">
                                                Перевозка ценностей
                                            </div>
                                            <div class="showedswiper-slide__text">
                                                Оказание услуги по перевозке ценностей междуудаленным хранилищем банка и его структурнымиподразделениями
                                            </div>
                                            <a href="./service-catalog.html" class="showedswiper-slide__btn _btn2">
                                                Подробнее
                                            </a>
                                        </div>
                                        <div class="swiper-slide showedswiper-slide">
                                            <div class="showedswiper-slide__img">
                                                <picture><source srcset="img/services/item2.webp" type="image/webp"><img src="img/services/item2.png" alt=""></picture>
                                            </div>
                                            <div class="showedswiper-slide__title">
                                                Транспортировка 
                                            </div>
                                            <div class="showedswiper-slide__text">
                                                Оказание услуги по перевозке ценностей междуудаленным хранилищем банка и его структурнымиподразделениями
                                            </div>
                                            <a href="./service-catalog.html" class="showedswiper-slide__btn _btn2">
                                                Подробнее
                                            </a>
                                        </div>
                                        <div class="swiper-slide showedswiper-slide">
                                            <div class="showedswiper-slide__img">
                                                <picture><source srcset="img/services/item2.webp" type="image/webp"><img src="img/services/item2.png" alt=""></picture>
                                            </div>
                                            <div class="showedswiper-slide__title">
                                                Транспортировка 
                                            </div>
                                            <div class="showedswiper-slide__text">
                                                Оказание услуги по перевозке ценностей междуудаленным хранилищем банка и его структурнымиподразделениями
                                            </div>
                                            <a href="./service-catalog.html" class="showedswiper-slide__btn _btn2">
                                                Подробнее
                                            </a>
                                        </div>
                                        <div class="swiper-slide showedswiper-slide">
                                            <div class="showedswiper-slide__img">
                                                <picture><source srcset="img/services/item2.webp" type="image/webp"><img src="img/services/item2.png" alt=""></picture>
                                            </div>
                                            <div class="showedswiper-slide__title">
                                                Транспортировка 
                                            </div>
                                            <div class="showedswiper-slide__text">
                                                Оказание услуги по перевозке ценностей междуудаленным хранилищем банка и его структурнымиподразделениями
                                            </div>
                                            <a href="./service-catalog.html" class="showedswiper-slide__btn _btn2">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="services__swipermain_nav">
                                    <div class="services__swipermain_prevbtn">
                                        <picture><source srcset="img/icons/arrow-left.webp" type="image/webp"><img src="img/icons/arrow-left.png" alt=""></picture>
                                    </div>
                                    <div class="services__swipermain_nextbtn">
                                        <picture><source srcset="img/icons/arrow-right.webp" type="image/webp"><img src="img/icons/arrow-right.png" alt=""></picture>
                                    </div>
                                </div>
                            </div>
                            <div class="controlswiper swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide controlswiper-slide">
                                        <span>Финансовым структурам</span>
                                    </div>
                                    <div class="swiper-slide controlswiper-slide">
                                        <span>Хозяйствующим субъектам</span>
                                    </div>
                                    <div class="swiper-slide controlswiper-slide">
                                        <span>Хозяйствующим субъектам</span>
                                    </div>
                                    <div class="swiper-slide controlswiper-slide">
                                        <span>Хозяйствующим субъектам</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="news">
                    <div class="news__container _container">
                        <h2 class="news__title _title">Новости</h2>
                        <div class="news__body">
                            <div class="news__text">
                                Semper integer est quis leo, nunc. Quis lectus ame aenean massa turpis senectus pulvinar. Pharetra gravida volutpat faucibus faucibus.
                            </div>
                            <div class="news__right">
                                <div class="swipernews swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swipernews-slide swiper-slide">
                                            <div class="swipernews-slide__img">
                                                <picture><source srcset="img/logo-svg.svg" type="image/webp"><img src="img/logo-svg.svg" alt=""></picture>
                                            </div>
                                            <div class="swipernews-slide__title">
                                                Сообщение Центрального банка
                                            </div>
                                            <div class="swipernews-slide__text">
                                                Постановлением правления Центрального банка Республики Узбекистан  обществу ...
                                            </div>
                                            <a href="./news.html" class="swipernews-slide__btn _btn2">
                                                Подробнее
                                            </a>
                                        </div>
                                        <div class="swipernews-slide swiper-slide">
                                            <div class="swipernews-slide__img">
                                                <picture><source srcset="img/logo-svg.svg" type="image/webp"><img src="img/logo-svg.svg" alt=""></picture>
                                            </div>
                                            <div class="swipernews-slide__title">
                                                Остерегайтесь мошенничества
                                            </div>
                                            <div class="swipernews-slide__text">
                                                Нередко наблюдаются случаи финансового мошенничества, такие как...
                                            </div>
                                            <a href="./news.html" class="swipernews-slide__btn _btn2">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swipernews__nav">
                                    <div class="swipernews__prevbtn">
                                        <picture><source srcset="img/icons/arrow-left.webp" type="image/webp"><img src="img/icons/arrow-left.png" alt=""></picture>
                                    </div>
                                    <div class="swipernews__nextbtn">
                                        <picture><source srcset="img/icons/arrow-right.webp" type="image/webp"><img src="img/icons/arrow-right.png" alt=""></picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="valuta">
                    <a href="" class="valuta__btn">Курсы валют</a>
                    <div class="valuta-swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide valuta-item">
                                <div class="valuta-item__head">
                                    <div class="valuta-item__img _ibg"><picture><source srcset="img/valuta/usd.webp" type="image/webp"><img src="img/valuta/usd.png" alt=""></picture></div>
                                    <div class="valuta-item__name">USD</div>
                                </div>
                                <div class="valuta-item__body">
                                    <div class="valuta-item__rate">10845.00</div>
                                    <div class="valuta-item__shift plus">+18.71</div>
                                </div>
                            </div>
                            <div class="swiper-slide valuta-item">
                                <div class="valuta-item__head">
                                    <div class="valuta-item__img _ibg"><picture><source srcset="img/valuta/usd.webp" type="image/webp"><img src="img/valuta/usd.png" alt=""></picture></div>
                                    <div class="valuta-item__name">USD</div>
                                </div>
                                <div class="valuta-item__body">
                                    <div class="valuta-item__rate">10845.00</div>
                                    <div class="valuta-item__shift minus">-18.71</div>
                                </div>
                            </div>
                            <div class="swiper-slide valuta-item">
                                <div class="valuta-item__head">
                                    <div class="valuta-item__img _ibg"><picture><source srcset="img/valuta/usd.webp" type="image/webp"><img src="img/valuta/usd.png" alt=""></picture></div>
                                    <div class="valuta-item__name">USD</div>
                                </div>
                                <div class="valuta-item__body">
                                    <div class="valuta-item__rate">10845.00</div>
                                    <div class="valuta-item__shift plus">+18.71</div>
                                </div>
                            </div>
                            <div class="swiper-slide valuta-item">
                                <div class="valuta-item__head">
                                    <div class="valuta-item__img _ibg"><picture><source srcset="img/valuta/usd.webp" type="image/webp"><img src="img/valuta/usd.png" alt=""></picture></div>
                                    <div class="valuta-item__name">USD</div>
                                </div>
                                <div class="valuta-item__body">
                                    <div class="valuta-item__rate">10845.00</div>
                                    <div class="valuta-item__shift minus">-18.71</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="contacts">
	<div class="contacts__map">
		<div style="height:100%;position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/10335/tashkent/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ташкент</a><a href="https://yandex.uz/maps/10335/tashkent/?ll=69.263300%2C41.284644&utm_medium=mapframe&utm_source=maps&z=14" style="color:#eee;font-size:12px;position:absolute;top:14px;">Ташкент — Яндекс.Карты</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUyQOuFdC" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
	</div>
	<div class="contacts__info">
		<h2 class="contacts__title _title">Контакты</h2>
		<a href="tel:998712443927" class="contacts__phone">
			+99871 244 39 27 <br> заявка на <br> инкассацию
		</a>
		<div class="contacts__location">
			Республика Узбекистан, <br> {{.Address}}
		</div>
	</div>
</section>
            </main>
            <footer class="footer">
    <div class="footer__container _container">
        <div class="republinks">
            <a href="" class="republinks-item">
                <div class="republinks-item__img">
                    <picture><source srcset="img/gerb.webp" type="image/webp"><img src="img/gerb.png" alt=""></picture>
                </div>
                <div class="republinks-item__text">
                    <p>Ўзбекистон Республикаси</p>
                    <p>Президенти</p>
                </div>
            </a>
            <a href="" class="republinks-item">
                <div class="republinks-item__img">
                    <picture><source srcset="img/gerb.webp" type="image/webp"><img src="img/gerb.png" alt=""></picture>
                </div>
                <div class="republinks-item__text">
                    <p>Ўзбекистон Республикаси</p>
                    <p>Ҳукумат портали</p>
                </div>
            </a>
        </div>
        <div class="footer__top">
            <div class="footer__col col1">
                <a href="./index.html" class="footer__logo"><picture><source srcset="img/logo-svg.svg" type="image/webp"><img src="img/logo-svg.svg" alt=""></picture></a>
                <a href="#" class="footer__location">Республика Узбекистан,<br> {{.Address}}</a>
                <div class="footer__actions">
                    <a href="tel:998712443927" class="footer__phone _icon-phone">{{.Phone}}</a>
                    <a href="email:info@uzinkass.uz" class="footer__email _icon-email">{{.Email}}</a>
                </div>
                <div data-da=".footer__col.col2, 992, last" class="footer__social">
                    <a href={{.Links.OkUrl}} class="social-item okru _ibg">
                        <picture><source srcset="img/icons/social/okru.webp" type="image/webp"><img src="img/icons/social/okru.png" alt=""></picture>                                                
                    </a>
                    <a href={{.Links.FbUrl}} class="social-item facebook _ibg">
                        <picture><source srcset="img/icons/social/facebook.webp" type="image/webp"><img src="img/icons/social/facebook.png" alt=""></picture>                                                
                    </a>
                    <a href={{.Links.VkUrl}} class="social-item vkontakte _ibg">
                        <picture><source srcset="img/icons/social/vkontakte.webp" type="image/webp"><img src="img/icons/social/vkontakte.png" alt=""></picture>                                                
                    </a>
                    <a href={{.Links.TgUrl}} class="social-item telegram _ibg">
                        <picture><source srcset="img/icons/social/telegram.webp" type="image/webp"><img src="img/icons/social/telegram.png" alt=""></picture>                                                
                    </a>
                </div>
            </div>
            <div class="footer__col col2">
                <div class="footer__menu_title _fot-title">МЕНЮ</div>
                <ul class="footer__menu">
                    <li class="footer__menu_item">
                        <a href="./aboutus.html" class="footer__menu_link">О нас</a>
                    </li>
                    <li class="footer__menu_item">
                        <a href="./service-catalog.html" class="footer__menu_link">Услуги</a>
                    </li>
                    <li class="footer__menu_item">
                        <a href="./vacancies.html" class="footer__menu_link">Вакансии</a>
                    </li>
                    <li class="footer__menu_item">
                        <a href="./contacts.html" class="footer__menu_link">Контакты</a>
                    </li>
                </ul>
                <div data-da=".footer__bottom, 992, 1" class="designedby">
                    <a href=""><span>Разработано в студии ITmaker</span></a>
                </div>
            </div>
            <div class="footer__col col3">
                <div class="footer__users">
                    <div class="footer__users_title _fot-title">Сейчас на сайте:</div>
                    Пользователи: <span class="footer__users_count">{{.Online}}</span>
                </div>
                <div class="footer__update">
                    <div class="footer__update_title _fot-title">Последнее обновление:</div>
                    <div class="footer__update_date">{{.LastUpdate}}</div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">

        </div>
    </div>
</footer>
            <div class="mobile-menu">
    <button class="mobile-menu__close">
        <picture><source srcset="img/icons/close.webp" type="image/webp"><img src="img/icons/close.png" alt=""></picture>
    </button>
    <a href="#" class="mobile-menu__cabinet">
        <picture><source srcset="img/icons/cabinet.webp" type="image/webp"><img src="img/icons/cabinet.png" alt=""></picture>
        <span>ЛИЧНЫЙ КАБИНЕТ</span>
    </a>
    <ul class="mobile-menu__nav_1">

    </ul>
    <ul class="mobile-menu__nav">
        <li>
            <a href="./portfolio.html" class="mobile-menu__link">О службе инкассации</a>
        </li>
        <li>
            <a href="./management.html" class="mobile-menu__link">Руководство</a>
        </li>
        <li>
            <a href="" class="mobile-menu__link">Териториальные управления</a>
        </li>
        <li>
            <a href="./vacancies.html" class="mobile-menu__link">Вакансии</a>
        </li>
        <li>
            <a href="" class="mobile-menu__link">Галерея</a>
        </li>
        <li>
            <a href="./contacts.html" class="mobile-menu__link">Контакты</a>
        </li>
        <li>
            <a href="./map-site.html" class="mobile-menu__link">Карта сайта</a>
        </li>
    </ul>
</div>






            <div class="overlay"></div>
        </div>
        <script src="js/vendor.min.js"></script>
<script src="js/script.min.js"></script>
    </body>
</html>