<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/libcss.css" />
    <link rel="stylesheet" href="./css/style.min.css" />
    <title>vacancies</title>
  </head>
  <body>
    <script>
      console.log({{.}});
    </script>
    <div class="wrapper">
      <header id="header" class="header">
        <div class="header__container _container">
          <div class="header__top top-header">
            <a href="./" class="top-header__logo">
              <picture
                ><source srcset="img/header-logo.webp" type="image/webp" />
                <img src="img/header-logo.png" alt=""
              /></picture>
            </a>
            <div class="top-header__right right-topheader">
              <div class="right-topheader__phones">
                <div class="right-topheader__phone">
                  <div class="right-topheader__phone_label">
                    Телефон горячей линии:
                  </div>
                  <a
                    data-da=".mobile-menu, 480, last"
                    href="tel:+998712443927"
                    class="right-topheader__phone_link _icon-phone"
                    >+99871 244 39 27</a
                  >
                </div>
                <div class="right-topheader__phone">
                  <div class="right-topheader__phone_label">
                    Отдел по работе с клиентами:
                  </div>
                  <a
                    data-da=".mobile-menu, 480, last"
                    href="tel:+998712443927"
                    class="right-topheader__phone_link _icon-phone"
                    >+99871 244 01 43</a
                  >
                </div>
              </div>
              <div class="right-topheader__logo">
                <picture
                  ><source srcset="img/cbu-logo.webp" type="image/webp" />
                  <img src="img/cbu-logo.png" alt=""
                /></picture>
              </div>
            </div>
          </div>
          <div class="header__bottom bottom-header">
            <a href="#" class="fix-header__logo">
              <picture
                ><source srcset="img/logo-svg.svg" type="image/webp" />
                <img src="img/logo-svg.svg" alt=""
              /></picture>
            </a>
            <div class="bottom-header__left">
              <div class="_select">
                <select>
                  <!-- <option value="">RU</option> -->
                  <option value="">RU</option>
                  <option value="">ENG</option>
                  <option value="">UZ</option>
                </select>
              </div>
              <a href="" class="flag">
                <picture
                  ><source srcset="img/icons/bayroq.webp" type="image/webp" />
                  <img src="img/icons/bayroq.png" alt=""
                /></picture>
              </a>
              <a href="#" class="gerb">
                <picture
                  ><source srcset="img/icons/gerb.webp" type="image/webp" />
                  <img src="img/icons/gerb.png" alt=""
                /></picture>
              </a>
              <a href="#" class="keyboard">
                <picture
                  ><source srcset="img/icons/keyboard.webp" type="image/webp" />
                  <img src="img/icons/keyboard.png" alt=""
                /></picture>
              </a>
            </div>
            <div class="bottom-header__right">
              <ul class="header__nav nav-header">
                <li
                  data-da=".mobile-menu__nav_1, 768, 1"
                  class="nav-header__item"
                >
                  <a href="./aboutus.html" class="nav-header__link">О нас</a>
                </li>
                <li
                  data-da=".mobile-menu__nav_1, 768, 1"
                  class="nav-header__item"
                >
                  <a href="./service-catalog.html" class="nav-header__link"
                    >Услуги</a
                  >
                </li>
                <li
                  data-da=".mobile-menu__nav_1, 768, 1"
                  class="nav-header__item"
                >
                  <a href="./contacts.html" class="nav-header__link"
                    >Контакты</a
                  >
                </li>
              </ul>
              <button class="nav-header__burger _burger">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </header>
      <main class="main">
        <section class="vacancies _anim-items _anim-no-hide first">
          <div class="sectionanim-img">
            <picture
              ><source srcset="img/all-bgimages/06.webp" type="image/webp" />
              <img src="img/all-bgimages/06.png" alt=""
            /></picture>
          </div>
          <div class="vacancies__container _container">
            <h2 class="vacancies__title _title2">Вакансии</h2>
          </div>
        </section>
        <section class="vacans">
          <div class="vacans__container _container">
            {{range .}}
            <div class="vacans-header">
              <div class="vacans-header__write">
                <input type="text" placeholder="Поиск по ключевым словам" />
                <button type="button"></button>
              </div>
              <div class="vacans-header__actions">
                <div class="vacans-header__sort">
                  <div class="_select">
                    <select>
                      <option>Сортировать:</option>
                      <option>Новые</option>
                      <option>Старые</option>
                    </select>
                  </div>
                </div>
                <div class="vacans-header__count">
                  Найдено <span>{{.Limit}}</span> вакансий
                </div>
                <div class="vacans-header__citys">
                  <span>Город:</span>
                  <div class="_select">
                    <select>
                      <option>{{.City}}</option>
                      <option>{{.City}}</option>
                      <option>{{.City}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="vacans-items">
              {{.range .CityVacancies}}
              <div class="vacans-item">
                <div class="vacans-item__title">{{.Content}}</div>
                <div class="vacans-item__location">{{.Location}}</div>
                <div class="vacans-item__time">{{.StaffTime}}</div>
                <div class="vacans-item__date">{{.Time}}</div>
                <a href="tel:{{.Phone}}" class="vacans-item__link _btn"
                  >Позвонить</a
                >
              </div>
              <div class="vacans-item">
                <div class="vacans-item__title">
                  Стажировка по направлению Прикладная матекатика и информатика
                </div>
                <div class="vacans-item__location">Ташкент</div>
                <div class="vacans-item__time">Полный день</div>
                <div class="vacans-item__date">10 July 2019</div>
                <a href="tel:+998996665544" class="vacans-item__link _btn"
                  >Позвонить</a
                >
              </div>
              <div class="vacans-item">
                <div class="vacans-item__title">
                  Стажировка по направлению Прикладная матекатика и информатика
                </div>
                <div class="vacans-item__location">Ташкент</div>
                <div class="vacans-item__time">Полный день</div>
                <div class="vacans-item__date">10 July 2019</div>
                <a href="tel:+998996665544" class="vacans-item__link _btn"
                  >Позвонить</a
                >
              </div>
              <div class="vacans-item">
                <div class="vacans-item__title">
                  Стажировка по направлению Прикладная матекатика и информатика
                </div>
                <div class="vacans-item__location">Ташкент</div>
                <div class="vacans-item__time">Полный день</div>
                <div class="vacans-item__date">10 July 2019</div>
                <a href="tel:+998996665544" class="vacans-item__link _btn"
                  >Позвонить</a
                >
              </div>
              <div class="vacans-item">
                <div class="vacans-item__title">
                  Стажировка по направлению Прикладная матекатика и информатика
                </div>
                <div class="vacans-item__location">Ташкент</div>
                <div class="vacans-item__time">Полный день</div>
                <div class="vacans-item__date">10 July 2019</div>
                <a href="tel:+998996665544" class="vacans-item__link _btn"
                  >Позвонить</a
                >
              </div>
              <div class="vacans-item">
                <div class="vacans-item__title">
                  Стажировка по направлению Прикладная матекатика и информатика
                </div>
                <div class="vacans-item__location">Ташкент</div>
                <div class="vacans-item__time">Полный день</div>
                <div class="vacans-item__date">10 July 2019</div>
                <a href="tel:+998996665544" class="vacans-item__link _btn"
                  >Позвонить</a
                >
              </div>
              {{end}}
            </div>
            <button type="button" class="vacans__btn _btn2">
              Загрузить ещё
            </button>
            
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__container _container">
          <div class="republinks">
            <a href="" class="republinks-item">
              <div class="republinks-item__img">
                <picture
                  ><source srcset="img/gerb.webp" type="image/webp" />
                  <img src="img/gerb.png" alt=""
                /></picture>
              </div>
              <div class="republinks-item__text">
                <p>Ўзбекистон Республикаси</p>
                <p>Президенти</p>
              </div>
            </a>
            <a href="" class="republinks-item">
              <div class="republinks-item__img">
                <picture
                  ><source srcset="img/gerb.webp" type="image/webp" />
                  <img src="img/gerb.png" alt=""
                /></picture>
              </div>
              <div class="republinks-item__text">
                <p>Ўзбекистон Республикаси</p>
                <p>Ҳукумат портали</p>
              </div>
            </a>
          </div>
          <div class="footer__top">
            <div class="footer__col col1">
              <a href="./index.html" class="footer__logo"
                ><picture
                  ><source srcset="img/logo-svg.svg" type="image/webp" />
                  <img src="img/logo-svg.svg" alt="" /></picture
              ></a>
              <a href="#" class="footer__location"
                >Республика Узбекистан,<br />
                Ташкент, 100011, ул. Навои, 19</a
              >
              <div class="footer__actions">
                <a href="tel:998712443927" class="footer__phone _icon-phone"
                  >(998 71) 244-39-27</a
                >
                <a
                  href="email:info@uzinkass.uz"
                  class="footer__email _icon-email"
                  >info@uzinkass.uz</a
                >
              </div>
              <div
                data-da=".footer__col.col2, 992, last"
                class="footer__social"
              >
                <a href="" class="social-item okru _ibg">
                  <picture
                    ><source
                      srcset="img/icons/social/okru.webp"
                      type="image/webp" />
                    <img src="img/icons/social/okru.png" alt=""
                  /></picture>
                </a>
                <a href="" class="social-item facebook _ibg">
                  <picture
                    ><source
                      srcset="img/icons/social/facebook.webp"
                      type="image/webp" />
                    <img src="img/icons/social/facebook.png" alt=""
                  /></picture>
                </a>
                <a href="" class="social-item vkontakte _ibg">
                  <picture
                    ><source
                      srcset="img/icons/social/vkontakte.webp"
                      type="image/webp" />
                    <img src="img/icons/social/vkontakte.png" alt=""
                  /></picture>
                </a>
                <a href="" class="social-item telegram _ibg">
                  <picture
                    ><source
                      srcset="img/icons/social/telegram.webp"
                      type="image/webp" />
                    <img src="img/icons/social/telegram.png" alt=""
                  /></picture>
                </a>
              </div>
            </div>
            <div class="footer__col col2">
              <div class="footer__menu_title _fot-title">МЕНЮ</div>
              <ul class="footer__menu">
                <li class="footer__menu_item">
                  <a href="./aboutus.html" class="footer__menu_link">О нас</a>
                </li>
                <li class="footer__menu_item">
                  <a href="./service-catalog.html" class="footer__menu_link"
                    >Услуги</a
                  >
                </li>
                <li class="footer__menu_item">
                  <a href="./vacancies.html" class="footer__menu_link"
                    >Вакансии</a
                  >
                </li>
                <li class="footer__menu_item">
                  <a href="./contacts.html" class="footer__menu_link"
                    >Контакты</a
                  >
                </li>
              </ul>
              <div data-da=".footer__bottom, 992, 1" class="designedby">
                <a href=""><span>Разработано в студии ITmaker</span></a>
              </div>
            </div>
            <div class="footer__col col3">
              <div class="footer__users">
                <div class="footer__users_title _fot-title">
                  Сейчас на сайте:
                </div>
                Пользователи: <span class="footer__users_count">0</span>
              </div>
              <div class="footer__update">
                <div class="footer__update_title _fot-title">
                  Последнее обновление:
                </div>
                <div class="footer__update_date">23 сентября 2021 - 12:54</div>
              </div>
            </div>
          </div>
          <div class="footer__bottom"></div>
        </div>
      </footer>
      <div class="mobile-menu">
        <button class="mobile-menu__close">
          <picture
            ><source srcset="img/icons/close.webp" type="image/webp" />
            <img src="img/icons/close.png" alt=""
          /></picture>
        </button>
        <a href="#" class="mobile-menu__cabinet">
          <picture
            ><source srcset="img/icons/cabinet.webp" type="image/webp" />
            <img src="img/icons/cabinet.png" alt=""
          /></picture>
          <span>ЛИЧНЫЙ КАБИНЕТ</span>
        </a>
        <ul class="mobile-menu__nav_1"></ul>
        <ul class="mobile-menu__nav">
          <li>
            <a href="./portfolio.html" class="mobile-menu__link"
              >О службе инкассации</a
            >
          </li>
          <li>
            <a href="./management.html" class="mobile-menu__link"
              >Руководство</a
            >
          </li>
          <li>
            <a href="" class="mobile-menu__link">Териториальные управления</a>
          </li>
          <li>
            <a href="./vacancies.html" class="mobile-menu__link">Вакансии</a>
          </li>
          <li>
            <a href="" class="mobile-menu__link">Галерея</a>
          </li>
          <li>
            <a href="./contacts.html" class="mobile-menu__link">Контакты</a>
          </li>
          <li>
            <a href="./map-site.html" class="mobile-menu__link">Карта сайта</a>
          </li>
        </ul>
      </div>

      <div class="overlay"></div>
    </div>
    <script src="js/vendor.min.js"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>
